# VCS
.git
.github

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Local artifacts / tracking
mlruns/
data/

# OS/editor
.DS_Store
.idea/
.vscode/

# Tests & caches
.pytest_cache/
.ruff_cache/

